<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <div class="container">
      <ion-title style="text-align: center;">Add/View Class Room</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-card>
    <ion-item *ngIf="param">
      <ion-label>{{schoolName}}</ion-label>
    </ion-item>
    <ion-item *ngIf="!param">
      <ion-label>Select a school to view</ion-label>
      <ion-select placeholder="Select A School" okText="Okay" id="schoolName" [(ngModel)]="value" (ionChange)="getSelected(value)" interface="alert">
        <ion-select-option value="{{s}}" *ngFor = "let s of schools">{{s}}</ion-select-option>
        <ion-select-option value="None" (ionChange)="getSelected(value)" >None</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>


    <ion-card *ngIf="showClassOptions">
      <ion-card-header>
        <ion-card-title>
          Add a class
        </ion-card-title>
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input type="text" [(ngModel)]="className" name="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Count</ion-label>
              <ion-input type="number" [(ngModel)]="studentCount" name="count"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-button shape="round" (click)="addClass(className,studentCount)" *ngIf="className">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              Class
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  <ion-card *ngIf="showClassOptions">
    <ion-card-header>
      <ion-card-title>Classes</ion-card-title>
    </ion-card-header>
    <ion-grid >
      <ion-row >
        <ion-col *ngFor = "let c of classes; let i = index" size="4">
          <ion-card col-6 offset-3 text-center button="true" (click)="viewStudent(c.name)">
            <ion-card-content>
              <!-- <ion-item>
                <div slot="end">
                  <ion-icon name="school"></ion-icon>
                </div>
                {{row["school"]}}
              </ion-item> -->
              <ion-item>
                <div slot="start">
                  <ion-icon name="book"></ion-icon>
                </div>
                <div slot="end">
                  Class {{c["name"]}}
                </div>
              </ion-item>
              <ion-item>
                <div slot="start">
                  <ion-icon name="people"></ion-icon>
                </div>
                <div slot="end">
                  Student Count {{c["stuCount"]}}
                </div>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content *ngIf="emptyClassErr">
      Please add a class to view.
    </ion-card-content>
  </ion-card> 
  
</div>


</ion-content>
