<ion-header>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <div class="container">
    <ion-title style="text-align: center;">Add/View Schools</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div class="container">
<ion-card>
  <ion-card-header>
    <ion-card-title>
      Add A School
    </ion-card-title>
  </ion-card-header>
  <form [formGroup]="AddSchoolForm" (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-item>
          <ion-label position="floating">Name of School</ion-label>
          <ion-input type="text" id="SchoolName" placeholder="Enter school name" name="SchoolName"  formControlName="SchoolName" required>
          </ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.SchoolName">
            <div class="error-message"
                 *ngIf="AddSchoolForm.get('SchoolName').hasError(validation.type) && (AddSchoolForm.get('SchoolName').dirty || AddSchoolForm.get('SchoolName').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">UDISE No</ion-label>
          <ion-input type="text" id="UDISENo" placeholder="Enter udise number" name="UDISENo" formControlName="UDISENo" required></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.UDISENo">
            <div class="error-message"
                 *ngIf="AddSchoolForm.get('UDISENo').hasError(validation.type) && (AddSchoolForm.get('UDISENo').dirty || AddSchoolForm.get('UDISENo').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
      </ion-row>
      <ion-row>
       <ion-col>
         <ion-item>
           <ion-label position="floating">City</ion-label>
           <ion-input type="text" id="City" placeholder="Enter city" name="City"  formControlName="City" required>
           </ion-input>
         </ion-item>
         <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.City">
            <div class="error-message"
                 *ngIf="AddSchoolForm.get('City').hasError(validation.type) && (AddSchoolForm.get('City').dirty || AddSchoolForm.get('City').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
       </ion-col>
       <ion-col>
         <ion-item>
           <ion-label position="floating">School Address</ion-label>
           <ion-input type="text" id="Address" placeholder="Enter school Address" name="Address" formControlName="Address" required></ion-input>
         </ion-item>
       </ion-col>
       </ion-row>
       <ion-row >
         <ion-col>
           <ion-item>
             <ion-label position="floating">Email Address</ion-label>
             <ion-input type="text" id="Email" placeholder="Enter Email Address" name="Email"  formControlName="Email" required>
             </ion-input>
           </ion-item>
           <div class="error-container">
            <ng-container *ngFor="let validation of validationMessages.Email">
              <div class="error-message"
                   *ngIf="AddSchoolForm.get('Email').hasError(validation.type) && (AddSchoolForm.get('Email').dirty || AddSchoolForm.get('Email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
         </ion-col>
         <ion-col>
           <ion-item>
             <ion-label position="floating">Principal Name</ion-label>
             <ion-input type="text" id="PrincipalName" placeholder="Enter Principal Name" name="PrincipalName" formControlName="PrincipalName" required></ion-input>
           </ion-item>
           <div class="error-container">
            <ng-container *ngFor="let validation of validationMessages.PrincipalName">
              <div class="error-message"
                   *ngIf="AddSchoolForm.get('PrincipalName').hasError(validation.type) && (AddSchoolForm.get('PrincipalName').dirty || AddSchoolForm.get('PrincipalName').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
         </ion-col>
         </ion-row>
      <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <ion-input type="text" placeholder="Enter Department" name = "Department" formControlName="Department"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.UDISENo">
            <div class="error-message"
                 *ngIf="AddSchoolForm.get('Department').hasError(validation.type) && (AddSchoolForm.get('Department').dirty || AddSchoolForm.get('Department').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="!AddSchoolForm.valid" shape="round" type="submit" >
          <ion-icon name="add-circle-outline" slot="start"></ion-icon>
          School
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
  </ion-card>
  
<ion-card>
  <ion-card-header>
     <ion-card-title>Bulk Upload Schools</ion-card-title>
   </ion-card-header>
   <form action="/action_page.csv" (ngSubmit)="onSubmit()">
   <ion-grid>
      <ion-row>
     
     <ion-col>
        <ion-item>
          <ion-input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv"></ion-input>  
        </ion-item>
      </ion-col>
      
     <ion-col>
           <ion-button [disabled]="!this.addschool" shape="round" type="submit">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              Upload 
            </ion-button> 
     </ion-col>
  </ion-row>
  </ion-grid>
</form>
</ion-card>
<ion-card >
  <ion-card-header>
    <ion-card-title>Schools</ion-card-title>
  </ion-card-header>
  <ion-grid >
    <ion-row >
      <ion-col *ngFor = "let s of schoolList; let i = index" size-lg="4">
        <ion-card col-6 offset-3 text-center button="true" (click)="viewClass(s.SchoolName)">
          <ion-card-content>
            <ion-item>
              <div slot="start">
                <ion-icon name="school-outline"></ion-icon>
              </div>
              <div slot="end">
                {{s.SchoolName}}
              </div>
            </ion-item>
            <ion-item>
              <div slot="start">
                 <ion-icon name="reorder-two-outline"></ion-icon>
              </div>
              <div slot="end">
                {{s.UDISENo}}
              </div>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-content *ngIf="emptyClassErr">
    Please add a class to view.
  </ion-card-content>
</ion-card> 
</div>
</ion-content>

