.add-school-content {
    text-align: center;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --padding-top: 20px;

    .auth-title {
      font-weight: bold;
      margin-bottom: 64px;
      letter-spacing: 0.6px;
    }

    .add-class-btn {
      margin: 16px 0px;
      background-color:#008CBA;
      color:white;
    }
    .upload-btn {
        margin: 16px 0px;
        background-color:#008CBA;
        color:white;
      }
    .add-btn {
        margin: 16px 0px;
      }
    .container {
    margin-top: 20px;
    }
  }
  .error-container {
    .error-message {
      margin: 16px 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        font-size: 16px;
        padding-inline-end: 8px;
      }
    }
  }
  