
<!-- <ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Sign In with SEF</ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content class="sign-in-content">
  <ion-grid fixed>
    
    <ion-card>
      <ion-card-header color="dark">
        <ion-card-title>Sign In with SEF</ion-card-title>

      </ion-card-header>
      <ion-card-content>

    <!-- <h2 class="auth-title">
      Sign In with SEF
    </h2> -->


    <form *ngIf=this.emailSignIn [formGroup]="signInForm" (ngSubmit)="signInWithEmail()">

      <ion-list class="inputs-list" lines="full">

        <ion-item class="input-item">
          <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off"
                     inputmode="email"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message"
                 *ngIf="signInForm.get('email').hasError(validation.type) && (signInForm.get('email').dirty || signInForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>


        <ion-item class="input-item">
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error-message"
                 *ngIf="signInForm.get('password').hasError(validation.type) && (signInForm.get('password').dirty || signInForm.get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

      </ion-list>


      <ion-button class="sign-in-btn" type="submit" expand="block" [disabled]="!signInForm.valid">Sign In</ion-button>
      <div class="error-container" *ngIf="submitError">
        <div class="error-message">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ submitError }}</span>
        </div>
      </div>
      <ion-row class="sign-up-btn-wrapper">
        <ion-button class="sign-up-btn" fill="clear" [routerLink]="['/sign-up']">
          Don't have an account?
        </ion-button>
      </ion-row>

      <p class="options-divider">Or</p>

      <br>

      <ion-button *ngIf=this.emailSignIn class="social-auth-btn" color="primary" expand="block"
                  (click)="phoneSignInButton()">Phone Sign In
      </ion-button>
      <!-- <ion-button class="social-auth-btn" color="primary" expand="block" (click)="facebookSignIn()">Facebook Sign In</ion-button> -->

    </form>

    <div *ngIf=!this.emailSignIn>
      <ion-row>
        <ion-col size='3'>
          <ion-item class="input-item">
            <ion-label position="stacked">PRE FIX</ion-label>
            <ion-input [(ngModel)]="prefix" placeholder="+91" type="tel" maxlength='4'></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size='9'>
          <ion-item class="input-item">
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input [(ngModel)]="line" placeholder="9032801211" type="tel"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
      <br>
      <div class='ion-center' style="position:relative;z-index:10;margin-left:5%;margin-right:auto;">
        <div id="recaptcha-container"></div>
      </div>
      <br>
     
    <!-- <button disabled class="mdl-button mdl-js-button mdl-button--raised" id="sign-in-button">Sign-in</button> -->
    <ion-button (click)="sendLoginCode()"   id="sign-in-button" color="primary" style="z-index:4;width:100%;">
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
      Send Login Code
    </ion-button>
    <div class="error-container" *ngIf="submitError">
      <div class="error-message">
        <ion-icon name="information-circle-outline"></ion-icon>
        <span>{{ submitError }}</span>
      </div>
    </div>
    <div></div>
    <br>


    <ion-item class="input-item" [disabled]="!enableButton">
      <ion-label position="stacked">One Time Password(OTP)</ion-label>
      <ion-input [(ngModel)]="verifCode" placeholder="Code" type="tel"></ion-input>
    </ion-item>


    <ion-button (click)="submitVerif()" [disabled]="!enableButton" color="primary" style="z-index:4;width:100%;">
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
      Verify Code
    </ion-button>

    <div></div>
    <br>

    <div class="social-auth-options">
      <p class="options-divider">Or</p>
      <br>
      <ion-button *ngIf=!this.emailSignIn class="social-auth-btn" color="primary" expand="block"
                  (click)="emailSignInButton()">Email Sign In
      </ion-button>

    </div>
    </div>

      <!-- <ion-button class="social-auth-btn" color="primary" expand="block" (click)="facebookSignIn()">Facebook Sign In</ion-button> -->
      <ion-button class="social-auth-btn google-auth-btn" color="danger" expand="block" (click)="googleSignIn()">Google
        Sign In
      </ion-button>
      <!-- <ion-button class="social-auth-btn twitter-auth-btn" color="secondary" expand="block" (click)="twitterSignIn()">Twitter Sign In</ion-button> -->

    <br>
    <br>
     </ion-card-content>
    </ion-card>
  </ion-grid> 
</ion-content>
