<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div class="container">
      <ion-title style="text-align: center;">Set Assessments</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scrollY=false>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card *ngIf="schoolId">
            <ion-item>
              <ion-label>Select Class</ion-label>
              <ion-select placeholder="select a class" okText="Okay" cancelText="Dismiss" name="" [(ngModel)]="classId">
                <ion-select-option *ngFor="let selectClass of Classes" [value]="selectClass">
                  {{selectClass}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-tabs style="margin-top: 100px;" *ngIf="schoolId && classId">
      <ion-tab-bar slot="top">
        <ion-tab-button [routerLink]="['/assessments/create/' + schoolId+'/'+classId]"
          [class.active-item]="selectedPath.includes('create')">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Create Assessments</ion-label>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/assessments/modify/' + schoolId+'/'+classId]"
          [class.active-item]="selectedPath.includes('modify')">
          <ion-icon name="pencil"></ion-icon>
          <ion-label>Modify Assessments</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

</ion-content>