ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
    
    /* Set a different placeholder color */
    --placeholder-color: #971e49;
    
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
    }

    ion-icon {
    font-size: 16px;
    padding-inline-end: 8px;
  }

.active-item {
  color: red;
}

.scrollClass{
  width: 100%;
  overflow: hidden;
  }


