<ion-header *ngIf="flag==0">
  <ion-toolbar>

    <h6 style="padding-top: 1%;">Assessments</h6>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="flag==0">
  <div class="scrollClassA">
    <div class="container">
      <br>
      <ion-card>
        <div class="container">
          <ion-item button *ngFor="let selectAssessment of assessments" detail="true"
            (click)="selectItem(selectAssessment)">

            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label>
              <b>
                <h2> {{selectAssessment.Name}} - {{selectAssessment.time}}</h2>
              </b>
            </ion-label>
          </ion-item>
        </div>

      </ion-card>
    </div>
  </div>
</ion-content>


<ion-header *ngIf="flag==1">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size=1>
          <ion-button color="light" style="padding-top: 1%;" (click)="back(0)">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <h6 style="padding-top: 1%;">{{currentAssessment.Name}} - {{currentAssessment.time}}</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="flag==1">
  <div class="scrollClassB">
    <div class="container">
      <br>
      <ion-card>
        <ion-item button *ngFor="let selectStudent of students" detail="true" (click)="openItem(selectStudent)">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
            <b>
              <h2> {{selectStudent}}</h2>
            </b>
          </ion-label>
        </ion-item>
      </ion-card>
      <br>
      <ion-button expand="block" color="success" (click)="saveAssessment()">Update Assessment</ion-button>
    </div>
  </div>
</ion-content>

<ion-header *ngIf="flag==2">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size=1>
          <ion-button color="light" style="padding-top: 1%;" (click)="back(1)">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <h4 style="padding-top: 1%;">{{ studentId }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" *ngIf="flag==2">
  <div class="scrollClassB">
    <div class="container">
      <ion-list>
        <ion-item *ngFor="let entry of questions">
          <ion-label class="Text">
            <ion-text color="danger">
              <h2>{{entry.value}}</h2>
            </ion-text>
            <h4>
              <ion-text color="primary"> {{entry.type}}</ion-text> - {{entry.description}}
            </h4>
          </ion-label>
          <ion-checkbox color="danger" [(ngModel)]="currentAssessment.Grades[this.studentId][entry.id]" slot="start">
          </ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>

</ion-content>