.Text {
    max-height: 10.0em;
    line-height: 1.8em;
    height: 100%;
    white-space: normal;
    }

.scrollClassA{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    }

.scrollClassB{
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    }

h6 {
    text-align: center;
    }

h4 {
    text-align: center;
    }




      
    