


<ion-content class="profile-content">

<ion-grid fixed>

<ion-card>
  <ion-row class="user-details-wrapper">
    <ion-col size="4" class="user-image-wrapper">
      <img class="user-image" [src]="user.image">
    </ion-col>
  </ion-row>

  <ion-card-header>
    <ion-card-title>Basic Details:</ion-card-title>
  </ion-card-header>

  <ion-row *ngIf="userProfile?.role.includes('admin')">
    <ion-card-content>
      <ion-col size="10"><h4 *ngIf="userProfile.name">Name: {{userProfile.name}}</h4></ion-col>
      <ion-col size="10"><h4 *ngIf="userProfile.name">Email: {{userProfile.email}}</h4></ion-col>
      <ion-col size="10"><h4 *ngIf="userProfile.phoneNumber!=null">Mobile: {{userProfile.phoneNumber}}</h4></ion-col>
      <ion-col size="10"><h4 *ngIf="userProfile.role!=null">Role: {{userProfile.role}}</h4></ion-col>
    </ion-card-content>
  </ion-row>

  <div *ngIf="!flag && userProfile?.role.includes('teacher')">
    <ion-card-content>
      <ion-row>
          <ion-col size="10"><h4 *ngIf="userProfile.name">Name: {{userProfile.name}}</h4></ion-col>
          <ion-col size="10"><h4 *ngIf="userProfile.name">Email: {{userProfile.email}}</h4></ion-col>
          <ion-col size="10"><h4 *ngIf="userProfile.phoneNumber!=null">Mobile: {{userProfile.phoneNumber}}</h4></ion-col>
          <ion-col size="10"><h4 *ngIf="userProfile.role!=null">Role: {{userProfile.role}}</h4></ion-col>
          <ion-col size="10"><h4 *ngIf="userProfile.school!=null">School: {{userProfile.school}}</h4></ion-col>
      </ion-row> 
      
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Classes:</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ng-container *ngFor="let class of userProfile.classes | keyvalue">
        <ng-container *ngFor="let subject of class.value  ">
          <ion-row>
            <ion-col size="5"><h4>Class: {{class.key}}</h4></ion-col>
            <ion-col size="5"><h4>Subject: {{subject}}</h4></ion-col> 
          </ion-row>
        </ng-container>
      </ng-container>
      <ion-button expand="block" fill="outline" color="primary" (click)="edit()">Edit</ion-button>
    </ion-card-content>

  </div>

  <div class="outer-form container ion-justify-content-center" *ngIf="flag && userProfile?.role.includes('teacher')">
    <ion-card-content>
    <form class="form-group" [formGroup]="addUserForm" (ngSubmit)="updateUserInDB()">
      <ion-list class="inputs-list">
            <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
              <ion-label>Name : </ion-label>
              <ion-input class="form" formControlName="name" type={text}></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.name">
                <div class="error-message" *ngIf="addUserForm.get('name').hasError(validation.type) && (addUserForm.get('name').dirty || addUserForm.get('name').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
            <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
              <ion-label >Phone Number : </ion-label>
              <ion-input formControlName="phoneNumber" type="text"></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.phoneNumber">
                <div class="error-message" *ngIf="addUserForm.get('phoneNumber').hasError(validation.type) && (addUserForm.get('phoneNumber').dirty || addUserForm.get('phoneNumber').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
            <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
              <ion-label >Email Id : </ion-label>
              <ion-input type="email"  formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="addUserForm.get('email').hasError(validation.type) && (addUserForm.get('email').dirty || addUserForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
            <ion-item class="input-item" size-lg="3" size-md="3" size-sm="6" size="12">
              <ion-label>School : </ion-label>
              <ion-select formControlName="school" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let school of schools" value="{{school}}">{{school}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="error-container">
              <ng-container *ngFor="let validation of validation_messages.school">
                <div class="error-message" *ngIf="addUserForm.get('school').hasError(validation.type) && (addUserForm.get('school').dirty || addUserForm.get('school').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>{{ validation.message }}</span>
                </div>
              </ng-container>
            </div>
      
      </ion-list>

      <table class="table table-bordered" formArrayName="classes">
        <ion-row>
          <!-- <ion-column colspan="2">Add Multiple Quantity:</ion-column> -->
          <ion-col width="150px"><ion-button expand="block"  color="primary" (click)="addClass()">Add Classes</ion-button></ion-col>
        </ion-row>
        <ion-row *ngFor="let quantity of classes().controls; let i=index" [formGroupName]="i">
          <ion-col>
              Class :
              <!-- <input type="text" formControlName="class" class="form-control"> -->
              <!-- <ion-item class="input-item" size-lg="3" size-md="3" size-sm="6" size="12">
                <ion-select formControlName="class" okText="Okay" cancelText="Dismiss">
                  <ion-select-option *ngFor="let class of availableClasses" value="{{class}}">{{class}}</ion-select-option>
                </ion-select>
              </ion-item> -->
              <select type="text" formControlName="class" class="form-control">
                <option *ngFor="let class of availableClasses" value="{{class}}">{{class}}</option>
              </select>
          </ion-col>
          <ion-col>
              Subject:
              <!-- <input type="text" formControlName="subject" class="form-control"> -->
              <select type="text" formControlName="subject" class="form-control">
                <option *ngFor="let subject of availableSubjects" value="{{subject}}">{{subject}}</option>
              </select>
          </ion-col>
          <ion-col>
             <br>
              <ion-button expand="block" (click)="removeClass(i)" color="danger">Remove</ion-button>
          </ion-col>
        </ion-row>
      </table>





      <ion-button expand="block"  color="success" type="submit" [disabled]="!addUserForm.valid">Update Details</ion-button>


    </form>
  </ion-card-content>
  </div>
  
        

  

  
  </ion-card>
</ion-grid>



</ion-content>

