.profile-content {
  --padding-bottom: 16px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 16px;
  --ion-grid-width-xs:              100%;
  --ion-grid-width-sm:              640px;
  --ion-grid-width-md:              640px;
  --ion-grid-width-lg:              640px;
  --ion-grid-width-xl:              640px;


  .user-image {
    border-radius: 4%;
  }

  .user-details-wrapper {
    justify-content: center;

    .user-image-wrapper {
      text-align: center;
    }

    .user-info-wrapper {
      text-align: center;
    }
  }

  div{
    
  
    .inputs-list {
      .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      margin: 16px 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        font-size: 16px;
        padding-inline-end: 8px;
      }
    }
  }
}
  .sign-up-btn {
    margin: 16px 0px;
  }

  .sign-in-btn-wrapper {
    justify-content: flex-end;
    align-items: center;

    .sign-in-btn {
      --padding-end: 0px;
    }
  }

}

