<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <div class="container">
      <ion-title class="text-center text-uppercase">Add/View Students</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" #studentsForm>
<div class="scrollClass">
  <div class="container">

    <ion-card>
      <ion-item *ngIf="param">
        <ion-label>{{schoolId}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item *ngIf="param">
        <ion-label>{{classId}}</ion-label>
      </ion-item>
    </ion-card>

    <ion-card *ngIf="!param">
      <ion-item  *ngIf="isTeacher">
        <ion-label>{{schoolId}}</ion-label>
      </ion-item>
      <ion-item *ngIf="!isTeacher">
        <ion-label>Select School</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" name="" [(ngModel)]="schoolId"
          (ngModelChange)="getDataSchool($event)">
          <ion-select-option *ngFor="let selectSchool of schools" [value]="selectSchool">
            {{selectSchool}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card *ngIf="!param && schoolId">
      <ion-item  *ngIf="isTeacher">
        <ion-label>Select Class</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss" name="" [(ngModel)]="classId"
          (ngModelChange)="getDataClass($event)">
          <ion-select-option *ngFor="let selectClass of userProfile.classes | keyvalue" [value]="selectClass.key">
            {{selectClass.key}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!isTeacher">
        <ion-label>Select Class</ion-label>
          <ion-select okText="Okay" cancelText="Dismiss" name="" [(ngModel)]="classId"
            (ngModelChange)="getDataClass($event)">
            <ion-select-option *ngFor="let selectClass of allClassesForASchool" [value]="selectClass.id">
              {{selectClass.id}}
            </ion-select-option>
          </ion-select>
      </ion-item>
      
    </ion-card>


    <br>

    <ion-list-header *ngIf="schoolId && classId">
      <ion-label class="text-uppercase font-weight-bold text-info">
        List of Students in Class
      </ion-label>
    </ion-list-header>


    <ion-card *ngIf="schoolId && classId">

      <ion-grid>
        <ion-row>
          <ion-col class="bgcolor" text-center>
            <div>Student Name</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Class</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Roll No</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Guardian Name</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Aadhar Id</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Date of Birth</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Gender</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>School Id</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Update</div>
          </ion-col>
          <ion-col class="bgcolor" text-center>
            <div>Delete</div>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let selectStudent of students">
          <ion-col text-center>
            <div>{{selectStudent.name}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.classId}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.rollNo}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.guardianName}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.aadharId}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.dateofBirth}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.gender}}</div>
          </ion-col>
          <ion-col text-center>
            <div>{{selectStudent.schoolId}}</div>
          </ion-col>
          <ion-col>
            <div>
              <form>
                <button
                  (click)="updateStudentRecord(selectStudent.name,selectStudent.rollNo,selectStudent.gender,selectStudent.guardianName,selectStudent.aadharId,selectStudent.dateofBirth)">update</button>
              </form>
            </div>
          </ion-col>
          <ion-col>
            <div>
              <form>
                <button (click)="deleteStudentRecord(selectStudent.rollNo)">delete</button>
              </form>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>


    <ion-list-header>
      <ion-label class="text-uppercase font-weight-bold text-primary">
        Add Students
      </ion-label>
    </ion-list-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Bulk Upload Schools</ion-card-title>
      </ion-card-header>
      <form action="/action_page.csv" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row >

            <ion-col>
              <ion-item>
                <ion-input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)"
                  accept=".csv"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-button [disabled]="!this.addStudents" shape="round" type="submit">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                Upload
              </ion-button>
              <ion-spinner *ngIf="this.showSpinner" name="circles"></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card>

    <form id="studentForm" [formGroup]="StudentDetailsForm" (ngSubmit)="logForm()" *ngIf="schoolId && classId">
      <ion-card>
        <ion-item>
          <ion-label position="floating">Student Name</ion-label>
          <ion-input required type="text" name="name" id="name" [(ngModel)]="editStudentName" formControlName="name">
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Roll No</ion-label>
          <ion-input required type="text" name="rollNo" id="rollNo" [(ngModel)]="editRollNo" formControlName="rollNo">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Gender</ion-label>
          <ion-select required okText="Okay" placeholder="Select" [(ngModel)]="editGender" cancelText="Dismiss"
            name="gender" formControlName="gender">
            <ion-select-option>Male</ion-select-option>
            <ion-select-option>Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Guardian Name</ion-label>
          <ion-input required type="text" name="guardianName" [(ngModel)]="editGuardianName"
            formControlName="guardianName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Aadhar Id</ion-label>
          <ion-input required type="number" name="aadharId" [(ngModel)]="editAadharId" formControlName="aadharId">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date of Birth</ion-label>
          <ion-datetime required displayFormat="MM/DD/YYYY" [(ngModel)]="editDateofBirth" name="dateofBirth"
            formControlName="dateofBirth">
          </ion-datetime>
        </ion-item>


        <!-- <ion-item>
          <ion-label>Select Class</ion-label>

          <ion-select name="select-class" [(ngModel)]="student.classId">
            <ion-select-option *ngFor="let selectClass of allClassesForASchool" [value]="selectClass.id">
              {{selectClass.id}}
            </ion-select-option>
          </ion-select>
        </ion-item> -->

        <div class="d-flex w-100 justify-content-center">
          <ion-button color="tertiary" [disabled]="!StudentDetailsForm.valid" type="submit" size="medium">Submit
          </ion-button>
        </div>

      </ion-card>
    </form>

  </div>
</div>
</ion-content>