.Text {
    max-height: 8.0em;
    line-height: 1.8em;
    height: 75%;
    white-space: normal;
    }

.scrollClassA{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    }

.scrollClassB{
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    }

h4 {
    text-align: center;
    }
    
    
