<ion-content *ngIf="flag==0">
  <div class="scrollClassA">
    <div class="container">

      <br>

      <ion-item>
        <ion-label>Assessment Name: </ion-label>
        <ion-input autofocus=true required=true type="text" [(ngModel)]="assessmentName"></ion-input>
      </ion-item>

      <br>

      <!-- <ion-list-header *ngIf="classId">
      <ion-label class="text-uppercase font-weight-bold text-info">
        Students in Class
      </ion-label>
    </ion-list-header> -->

      <ion-card *ngIf="classId">
        <!-- <ion-list class="inputs-list" > -->
        <ion-item button *ngFor="let selectStudent of students" detail="true"
          (click)="openItem(selectStudent.rollNo,selectStudent.name)">

          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>

            <b>
              <h2> {{selectStudent.rollNo}} - {{selectStudent.name}}</h2>
            </b>
          </ion-label>
        </ion-item>
        <!-- </ion-list> -->

      </ion-card>


      <br>

      <ion-button [disabled]="assessmentName.length<1" expand="block" color="success" (click)="saveAssessment()">Save
        Assessment</ion-button>

    </div>
  </div>

</ion-content>

<ion-header *ngIf="flag==1">

  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col size=1>
          <ion-button color="light" style="padding-top: 1%;" (click)="back()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <h4 style="padding-top: 1%;">{{ studentId }} - {{ studentName }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" *ngIf="flag==1">
  <div class="scrollClassB">
    <ion-list>
      <ion-item *ngFor="let entry of questions">
        <ion-label class="Text">
          <ion-text color="danger">
            <h2>{{entry.value}}</h2>
          </ion-text>
          <h4>
            <ion-text color="primary"> {{entry.type}}</ion-text> - {{entry.description}}
          </h4>
        </ion-label>
        <ion-checkbox color="danger" [(ngModel)]="this.assessment.Grades[this.studentId+'-'+this.studentName][entry.id]"
          slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>