<ion-content class="add-user-content">
  <div class="outer-form container ion-justify-content-center">

    <ion-card>
      <ion-card-header>
         <ion-card-title>Bulk Upload Users</ion-card-title>
       </ion-card-header>
       <form action="/action_page.csv" (ngSubmit)="onSubmit()">
       <ion-grid>
          <ion-row>
         
         <ion-col>
            <ion-item>
              <ion-input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv"></ion-input>  
            </ion-item>
          </ion-col>
          
         <ion-col>
               <ion-button [disabled]="!this.bulkUpload" shape="round" type="submit">
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  Upload 
                </ion-button> 
         </ion-col>
      </ion-row>
      </ion-grid>
    </form>
    </ion-card>
   <ion-card>
    <ion-card-header>
      <ion-card-title>Add Single user to the system</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <form class="form-group" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  <ion-list class="inputs-list">
        <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-label>Name : </ion-label>
          <ion-input class="form" formControlName="name" placeholder="Enter Name" type={text}></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="addUserForm.get('name').hasError(validation.type) && (addUserForm.get('name').dirty || addUserForm.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-label >Phone Number : </ion-label>
          <ion-input formControlName="phoneNumber" placeholder="Enter Phone Number" type="text"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.phoneNumber">
            <div class="error-message" *ngIf="addUserForm.get('phoneNumber').hasError(validation.type) && (addUserForm.get('phoneNumber').dirty || addUserForm.get('phoneNumber').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-label >Email Id : </ion-label>
          <ion-input type="email" placeholder="Enter Email Id"  formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="addUserForm.get('email').hasError(validation.type) && (addUserForm.get('email').dirty || addUserForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="3" size-md="3" size-sm="6" size="12">
          <ion-label >Role : </ion-label>
          <ion-select placeholder="Select Role" formControlName="role" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="admin">SEF Admin</ion-select-option>
            <ion-select-option value="member">SEF Member</ion-select-option>
            <ion-select-option value="principal">Principal</ion-select-option>
            <ion-select-option value="teacher">Teacher</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.role">
            <div class="error-message" *ngIf="addUserForm.get('role').hasError(validation.type) && (addUserForm.get('role').dirty || addUserForm.get('role').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="3" size-md="3" size-sm="6" size="12">
          <ion-label >Gender : </ion-label>
          <ion-select  placeholder="Select Gender" formControlName="gender" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.gender">
            <div class="error-message" *ngIf="addUserForm.get('gender').hasError(validation.type) && (addUserForm.get('gender').dirty || addUserForm.get('gender').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="3" size-md="3" size-sm="6" size="12">
          <ion-label>School : </ion-label>
          <ion-select formControlName="school" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let school of schools" placeholder="Select School" value="{{school}}">{{school}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.school">
            <div class="error-message" *ngIf="addUserForm.get('school').hasError(validation.type) && (addUserForm.get('school').dirty || addUserForm.get('school').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-label >Aadhar ID : </ion-label>
          <ion-input formControlName="aadharId" type="text" placeholder="Enter Aadhar ID"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.aadharId">
            <div class="error-message" *ngIf="addUserForm.get('aadharId').hasError(validation.type) && (addUserForm.get('aadharId').dirty || addUserForm.get('aadharId').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <ion-item class="input-item" size-lg="4" size-md="4" size-sm="6" size="12">
          <ion-label>Date of joining</ion-label>
          <ion-datetime max="3000" formControlName="dateOfJoining" value="1990-02-19" placeholder="Select Date"></ion-datetime>
        </ion-item>
  </ion-list>
<ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2" size-md="2" size-sm="6" size="12">
            <ion-button color="success" type="submit" [disabled]="!addUserForm.valid">Add User</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
</form>
</ion-card-content>
</ion-card> 
</div> 

</ion-content>
