@media(min-width:900px){
    .container{
      width : 60%
    } 
  }    
.add-user-content {
  text-align: center;
  --padding-bottom: 16px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 16px;
  --ion-grid-width-xs:              100%;
  --ion-grid-width-sm:              540px;
  --ion-grid-width-md:              540px;
  --ion-grid-width-lg:              540px;
  --ion-grid-width-xl:              540px;


  .auth-title {
    font-weight: bold;
    margin:30px 0px;
    letter-spacing: 0.6px;
  }

  .outer-form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: grey solid 1px;
  }

  div{
    
  
    .inputs-list {
      .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      margin: 16px 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        font-size: 16px;
        padding-inline-end: 8px;
      }
    }
  }
}
  .sign-up-btn {
    margin: 16px 0px;
  }

  .sign-in-btn-wrapper {
    justify-content: flex-end;
    align-items: center;

    .sign-in-btn {
      --padding-end: 0px;
    }
  }
}
