<ion-app>
  <ion-header *ngIf="!route?.includes('sign-in') && !route?.includes('sign-up')">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title routerLink="/home">SEF</ion-title>
      <ion-icon  name="person-circle-outline" color="light" size="large" slot="end" class="pl-2 pr-2" routerLink="/profile" style="cursor: pointer;">
      </ion-icon>
      <ion-icon name="log-out-outline" color="light" size="large" slot="end" class="pl-2 pr-2" (click)="signOut()" style="cursor: pointer;"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-router-outlet [ngStyle]="{ 'margin-top': (!route?.includes('sign-in') && !route?.includes('sign-up')) ? '50px' : '0px' }"></ion-router-outlet>
</ion-app>
