<ion-content class="ion-padding">
  <ion-tabs style="margin-top: 20px;">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="addUser">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Add Users</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="listUsers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>List Users</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>