<ion-app>
  <div class="ion-page" id="main-content">

    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="showUserManagement()" size="12" size-sm="3">
            <ion-card routerLink="/user-management">
              <ion-card-header>
                <div class="d-flex w-100 justify-content-center">
                  <ion-icon name="person-circle-outline" class="icon-size-large" color="danger"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-text color="danger" style="text-align: center;">
                  <div class="d-flex justify-content-center ion-text-uppercase font-weight-bold p-4 main-heading">user
                    management
                  </div>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="showAddSchool()" size="12" size-sm="3">
            <ion-card routerLink="/add-school">
              <ion-card-header>
                <div class="d-flex w-100 justify-content-center">
                  <ion-icon name="school-outline" class="icon-size-large" color="tertiary"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-text color="tertiary" style="text-align: center;">
                  <div class="d-flex justify-content-center ion-text-uppercase font-weight-bold p-4 main-heading">
                    add/view
                    school
                  </div>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="showAddClass()" size="12" size-sm="3">
            <ion-card routerLink="/add-class">
              <ion-card-header>
                <div class="d-flex w-100 justify-content-center">
                  <ion-icon name="book-outline" class="icon-size-large" color="success"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-text color="success" style="text-align: center;">
                  <div class="d-flex justify-content-center ion-text-uppercase font-weight-bold p-4 main-heading">
                    add/view
                    class
                  </div>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="showAddStudents()" size="12" size-sm="3">
            <ion-card routerLink="/addstudents">
              <ion-card-header>
                <div class="d-flex w-100 justify-content-center">
                  <ion-icon name="person-add-outline" class="icon-size-large" color="secondary"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-text color="secondary" style="text-align: center;">
                  <div class="d-flex justify-content-center ion-text-uppercase font-weight-bold p-4 main-heading">
                    add/view
                    students
                  </div>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col *ngIf="showAssessments()" size="12" size-sm="3">
            <ion-card routerLink="/assessments">
              <ion-card-header>
                <div class="d-flex w-100 justify-content-center">
                  <ion-icon name="library-outline" class="icon-size-large" color="tertiary"></ion-icon>
                </div>
              </ion-card-header>
              <ion-card-content>
                <ion-text color="tertiary" style="text-align: center;">
                  <div class="d-flex justify-content-center ion-text-uppercase font-weight-bold p-4 main-heading">
                    SET Assessments
                  </div>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>


</ion-app>