
@media(min-width:900px){
  .container{
    width : 80%
  } 
}    

.list-user-content {    
text-align: center;
--padding-bottom: 16px;
--padding-end: 16px;
--padding-start: 16px;
--padding-top: 16px;
--ion-grid-width-xs:              100%;
--ion-grid-width-sm:              540px;
--ion-grid-width-md:              540px;
--ion-grid-width-lg:              540px;
--ion-grid-width-xl:              540px;


.auth-title {
  font-weight: bold;
  margin:30px 0px;
  letter-spacing: 0.6px;
}

.outer-form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: grey solid 1px;

}

div{
  

  .inputs-list {
    .input-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
  }
}

}
}


body{
  background:#eee;    
}
.main-box.no-header {
  padding-top: 0px;
}
.main-box {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
  -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  margin-bottom: 16px;
  -webikt-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.table a.table-link.danger {
  color: #e74c3c;
}
.label {
  border-radius: 3px;
  font-size: 1em;
  font-weight: 400;
}
.user-list tbody td .user-phoneNumber {
  font-size: 0.875em;
}
.user-list tbody td .user-role {
  font-size: 0.875em;
  font-style: italic;
}
.user-list tbody td .user-name {
  display: block;
  font-size: 1em;
  padding-top: 3px;
  //margin-left: 60px;
}
.user-list tbody td .user-email {
  display: block;
  font-size: 1em;
  padding-top: 3px;
  //margin-left: 60px;
}
a {
  color: #3498db;
  outline: none!important;
}
.user-list tbody td>img {
  position: relative;
  max-width: 50px;
  float: left;
  margin-right: 15px;
}

.table thead tr th {
  text-transform: uppercase;
  font-size: 0.875em;
}
.table thead tr th {
  border-bottom: 2px solid #e7ebee;
}
.table tbody tr td:first-child {
  font-size: 1.125em;
  font-weight: 300;
}
.table tbody tr td {
  font-size: 0.875em;
  vertical-align: middle;
  border-top: 1px solid #e7ebee;
  padding: 12px 8px;
}
a:hover{
text-decoration:none;
}
