<ion-content class="list-user-content">
  <div class="outer-form container ion-justify-content-center">
<h4 class="auth-title">List Of Users</h4>
<!-- <ion-grid>
  <ion-row>
    <ion-col><h5>Name</h5></ion-col>
    <ion-col><h5>Phone Number</h5></ion-col>
    <ion-col><h5>Email</h5></ion-col>
    <ion-col><h5>Role</h5></ion-col>
    <ion-col><h5>School</h5></ion-col>
  </ion-row>
  <ion-row *ngFor="let user of this.usersList">
      <ion-col>{{user.name}}</ion-col>
      <ion-col>{{user.phoneNumber}}</ion-col>
      <ion-col>{{user.email}}</ion-col>
      <ion-col>{{user.role}}</ion-col>
      <ion-col>{{user.school}}</ion-col>
  </ion-row>
</ion-grid> -->


<div class="bootstrap snippets bootdey">
  <div class="row">
      <div class="col-lg-12">
          <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                  <div>
                      <table class="table user-list">
                          <thead>
                              <tr>
                              <th><span>User</span></th>
                              <th><span>School</span></th>
                              <th class="text-center"><span>Contact Details</span></th>
                              <th class="text-center"><span>Aadhar Id</span></th>
                              <th class="text-center"><span>Gender</span></th>
                              <th class="text-center"><span>Date Of Joining</span></th>
                              </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let user of this.usersList">
                                <td>
                                    <div class="user-name">{{user.name}}</div>
                                    <span class="user-role">{{this.rolesMap.get(user.role)}}</span>
                                </td>
                                <td class="text-center">
                                  <span class="label label-default">{{user.school}}</span>
                                </td>
                                <td>
                                  <span  class="user-email">{{user.email}}</span>
                                  <span class="user-phoneNumber">{{user.phoneNumber}}</span>
                              </td>
                              <td>
                                <span class="user-phoneNumber">{{user.aadharId}}</span>
                              </td>
                              <td>
                                <span class="user-phoneNumber">{{user.gender}}</span>
                              </td>
                              <td>
                                <span class="user-phoneNumber">{{user.dateOfJoining}} </span>
                              </td>
                              <!-- <td style="width: 20%;">
                                <a href="#" class="table-link text-info">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="#" class="table-link danger">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </td> -->
                            </tr>
                          </tbody>  
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
</div>
</ion-content>